
/*loader */

.loader {
  color: #000;
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sp {
  clear: both;
  height: 32px;
  margin: 0 auto 5px;
  width: 32px;
}

/* Spinner Circle Rotation */
.sp-circle {
  border: 4px rgba(0,0,0,0.25) solid;
  border-top: 4px rgba(0,0,0,1) solid;
  border-radius: 50%;
  -webkit-animation: spCircRot .6s infinite linear;
  animation: spCircRot .6s infinite linear;
}
@-webkit-keyframes spCircRot {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}



body {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;

}


h2{
  padding-top: 5px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

h4{
  color: #54798e;
  /*font-weight: bold;*/
  border-bottom: 1px solid #999;
}

h5 {
  /*margin: 0;*/
  font-weight: bold;
  /*color: #dcb144;*/
  /*color: #54798e;*/
}

h5 > span {
  font-weight: normal;
  color: #54798e;
}
.container {
  /*width: 860px;*/
  opacity: 0;
}

.container-fluid {
  opacity: 0;
}

.header{
  border-bottom: 1px solid #999;
  padding-bottom: 5px;

}

p{
  font-size: 12px;
}

#map{
    height:480px;
    width:100%;
    
}

.small {
  font-style: italic;
}
.keyfig {
  /*border-bottom: solid;*/
  /*width: 80%;*/
  line-height: 21px;
  

}
.fig {
  padding: 5px 0 5px 0;
}

.num {
  font-size: 21px;
}

.indicator{
  font-size: 12px;
}

.carte {
  margin-top: 10px;
}
/* css to customize Leaflet default styles  
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    /*background: #e93434;*/
/*    color: #ffffff;
    minWidth: 50px;
    minHeight:50px;
}*/

.c3 {
  margin-bottom: 20px;
}

.legend {
    line-height: 18px;
    color: #555;
    opacity: 1;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}


.container-fluid{
  background-color: #353535;
  color: #FFF;
  padding: 0;
  margin-top: 10px;
}


.logos {
  padding-top: 5px;
  text-align: center;
}

img {
    margin-right: 40px;
    margin-bottom: 10px;
    vertical-align: top;
    width: auto;
}

/*.col-sm-12{
  padding-right: 30px;
  padding-left: 30px;
}*/
