body {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;

}

h2{
  text-align: center;
  /*font-size: 16px;*/
}

.container {
  width: 860px;
}

#MapInform{
    height:500px;
    width:100%;
    
}

.col-md-4 {
  padding-bottom: 5px;
}
#globalFigures {
  font-size: 14px;
  text-align: center;
  line-height: 14px;
  text-transform: uppercase;
}

.num {

}